1.16.5.json
banned-ips.json
banned-players.json
eula.txt
forge-1.16.5-36.2.0.jar
forge-1.16.5-36.2.0-installer.jar
installer.log
latest.log
backups/
.mixin.out/
usercache.json
usernamecache.json
whitelist.json
libraries/
logs/
mods/firstaid-1.9.7-modified.jar
mods/
local/
minecraft_server.1.16.5.jar
ops.json
crash-reports/
patchouli_books/
*.bat
*.sh
user_jvm_args.txt
forge-1.18.2-40.2.0-installer.jar
resourcepacks/
kubejs/
world/playerdata/
world/advancements/
world/stats/
world/ftbquests/
world/ftbchunks/
world/ftbteams/
world/deaths/
world/serverconfig/artifacts-server.toml
world/serverconfig/
world/data/
world/DIM1/
world/DIM-1/
world/dimensions/
*.nbt
*.dat
*.mca
*.dat_old
*.lock
*.bak
world/
