# Configuration file

gem_finder {
    S:targets <
        bno:nether_emerald_ore, 0xff17d960, emerald
        bno:nether_diamond_ore, 0xff3cdce0, diamond
        bno:nether_lapis_ore, 0xff1043a9, lapis
     >
}


metal_finder {
    S:targets <
        bno:nether_silver_ore, 0xffd4d4d4, silver
        bno:nether_iron_ore, 0xffd4ab90, iron
        bno:nether_lead_ore, 0xff86909b, lead
        bno:nether_nickel_ore, 0xffafb096, nickel
        bno:nether_copper_ore, 0xffe0734d, copper
        bno:nether_aluminum_ore, 0xff8484a3, aluminum
        bno:nether_tin_ore, 0xffbbbbbb, tin
        bno:nether_osmium_ore, 0xffd2d2f3, osmium
        bno:nether_zinc_ore, 0xff96b89e, zinc
        bno:nether_uranium_ore, 0xff8ec28b, uranium
     >
}


mineral_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #forge:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
        bno:nether_redstone_ore, 0xffca0707, redstone
        bno:nether_coal_ore, 0xff3e3e3e, coal
     >
}


