# Configuration file

gem_finder {
    S:targets <
        byg:ametrine_ore, 0xffc76caa, ametrine
        byg:emeraldite_ore, 0xff08aa2f, emeraldite
        byg:budding_ametrine_ore, 0xffc76caa, ametrine
        byg:brimstone_nether_quartz_ore, 0xfff3f0e6, quartz
     >
}


metal_finder {
    S:targets <
        byg:pendorite_ore, 0xff541c51, pendorite
        byg:blue_nether_gold_ore, 0xffffd700, gold
        byg:brimstone_nether_gold_ore, 0xffffd700, gold
     >
}


mineral_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #forge:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
        byg:pervaded_netherrack, 0xfff0e777, netherrack
        byg:anthracite_ore, 0xff0e131b, anthracite
        byg:lignite_ore, 0xff554131, lignite
        byg:cryptic_redstone_ore, 0xffa80404, redstone
     >
}


