# Configuration file

gem_finder {
    S:targets <
        gemsnjewels:pale_diamond_ore_block, 0xffadd6ee, pale_diamond
        gemsnjewels:pale_diamond_deepslate_ore_block, 0xffadd6ee, pale_diamond
        gemsnjewels:pale_diamond_nether_ore_block, 0xffadd6ee, pale_diamond
        gemsnjewels:diamond_ore_block, 0xff39d1d6, diamond
        gemsnjewels:diamond_deepslate_ore_block, 0xff39d1d6, diamond
        gemsnjewels:diamond_nether_ore_block, 0xff39d1d6, diamond
        gemsnjewels:emerald_ore_block, 0xff00ce7e, emerald
        gemsnjewels:emerald_deepslate_ore_block, 0xff00ce7e, emerald
        gemsnjewels:emerald_nether_ore_block, 0xff00ce7e, emerald
        gemsnjewels:ruby_ore_block, 0xffce1533, ruby
        gemsnjewels:ruby_deepslate_ore_block, 0xffce1533, ruby
        gemsnjewels:ruby_nether_ore_block, 0xffce1533, ruby
        gemsnjewels:sapphire_ore_block, 0xff002cb3, sapphire
        gemsnjewels:sapphire_deepslate_ore_block, 0xff002cb3, sapphire
        gemsnjewels:sapphire_nether_ore_block, 0xff002cb3, sapphire
        gemsnjewels:amethyst_ore_block, 0xffb86fea, amethyst
        gemsnjewels:amethyst_deepslate_ore_block, 0xffb86fea, amethyst
        gemsnjewels:amethyst_nether_ore_block, 0xffb86fea, amethyst
        gemsnjewels:opal_ore_block, 0xffe0e0e0, opal
        gemsnjewels:opal_deepslate_ore_block, 0xffe0e0e0, opal
        gemsnjewels:opal_nether_ore_block, 0xffe0e0e0, opal
        gemsnjewels:garnet_ore_block, 0xff550f20, garnet
        gemsnjewels:garnet_deepslate_ore_block, 0xff550f20, garnet
        gemsnjewels:garnet_nether_ore_block, 0xff550f20, garnet
        gemsnjewels:topaz_ore_block, 0xffda9f4b, topaz
        gemsnjewels:topaz_deepslate_ore_block, 0xffda9f4b, topaz
        gemsnjewels:topaz_nether_ore_block, 0xffda9f4b, topaz
        gemsnjewels:peridot_ore_block, 0xffa5e557, peridot
        gemsnjewels:peridot_deepslate_ore_block, 0xffa5e557, peridot
        gemsnjewels:peridot_nether_ore_block, 0xffa5e557, peridot
        gemsnjewels:aquamarine_ore_block, 0xff42d0d8, aquamarine
        gemsnjewels:aquamarine_deepslate_ore_block, 0xff42d0d8, aquamarine
        gemsnjewels:aquamarine_nether_ore_block, 0xff42d0d8, aquamarine
        gemsnjewels:zircon_ore_block, 0xff2462e5, zircon
        gemsnjewels:zircon_deepslate_ore_block, 0xff2462e5, zircon
        gemsnjewels:zircon_nether_ore_block, 0xff2462e5, zircon
        gemsnjewels:alexandrite_ore_block, 0xff6215ce, alexandrite
        gemsnjewels:alexandrite_deepslate_ore_block, 0xff6215ce, alexandrite
        gemsnjewels:alexandrite_nether_ore_block, 0xff6215ce, alexandrite
        gemsnjewels:tanzanite_ore_block, 0xff8230c4, tanzanite
        gemsnjewels:tanzanite_deepslate_ore_block, 0xff8230c4, tanzanite
        gemsnjewels:tanzanite_nether_ore_block, 0xff8230c4, tanzanite
        gemsnjewels:tourmaline_ore_block, 0xffc01c69, tourmaline
        gemsnjewels:tourmaline_deepslate_ore_block, 0xffc01c69, tourmaline
        gemsnjewels:tourmaline_nether_ore_block, 0xffc01c69, tourmaline
        gemsnjewels:spinel_ore_block, 0xffe55778, spinel
        gemsnjewels:spinel_deepslate_ore_block, 0xffe55778, spinel
        gemsnjewels:spinel_nether_ore_block, 0xffe55778, spinel
        gemsnjewels:black_opal_ore_block, 0xff012f3e, black_opal
        gemsnjewels:black_opal_deepslate_ore_block, 0xff012f3e, black_opal
        gemsnjewels:black_opal_nether_ore_block, 0xff012f3e, black_opal
        gemsnjewels:citrine_ore_block, 0xffee9c33, citrine
        gemsnjewels:citrine_deepslate_ore_block, 0xffee9c33, citrine
        gemsnjewels:citrine_nether_ore_block, 0xffee9c33, citrine
        gemsnjewels:morganite_ore_block, 0xffee7875, morganite
        gemsnjewels:morganite_deepslate_ore_block, 0xffee7875, morganite
        gemsnjewels:morganite_nether_ore_block, 0xffee7875, morganite
        gemsnjewels:ametrine_ore_block, 0xff952fe0, ametrine
        gemsnjewels:ametrine_deepslate_ore_block, 0xff952fe0, ametrine
        gemsnjewels:ametrine_nether_ore_block, 0xff952fe0, ametrine
        gemsnjewels:kunzite_ore_block, 0xffe557bd, kunzite
        gemsnjewels:kunzite_deepslate_ore_block, 0xffe557bd, kunzite
        gemsnjewels:kunzite_nether_ore_block, 0xffe557bd, kunzite
        gemsnjewels:iolite_ore_block, 0xff5c00cc, iolite
        gemsnjewels:iolite_deepslate_ore_block, 0xff5c00cc, iolite
        gemsnjewels:iolite_nether_ore_block, 0xff5c00cc, iolite
        gemsnjewels:bright_opal_ore_block, 0xffeeeeee, bright_opal
        gemsnjewels:bright_opal_deepslate_ore_block, 0xffeeeeee, bright_opal
        gemsnjewels:bright_opal_nether_ore_block, 0xffeeeeee, bright_opal
     >
}


metal_finder {
    S:targets <
     >
}


mineral_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #forge:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
     >
}


