# Configuration file

gem_finder {
    S:targets <
        oresabovediamonds:amethyst_ore, 0xffc5a6fb, amethyst
        oresabovediamonds:end_amethyst_ore, 0xffc5a6fb, amethyst
        oresabovediamonds:nether_amethyst_ore, 0xffc5a6fb, amethyst
        oresabovediamonds:black_opal_ore, 0xff44497c, opal
        oresabovediamonds:end_black_opal_ore, 0xff44497c, opal
        oresabovediamonds:nether_black_opal_ore, 0xff44497c, opal
     >
}


metal_finder {
    S:targets <
     >
}


mineral_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #forge:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
     >
}


